@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");

:root {
    --primary-color: #1e1e1e;
    --secondary-color: #ffcc00;
    --background-gradient: linear-gradient(to bottom, #1a1a1a, #2a2a2a);
    --text-color: #e2eaeb;
    --heading-color: #f0f0f0;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Arial', sans-serif;
    background: url("webpage images/techno1/3.png"), var(--background-gradient);
    margin: 0;
    padding: 20px;
    color: var(--text-color);
    text-align: center;
    transition: background 0.5s ease;
    background-color: #000000;
}

.logo {
    width: 150px;
    height: 150px;
    background: black;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0 4px 10px var(--shadow-color);
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.05);
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    font-size: 3.5em;
    margin: 10px 0;
    color: var(--heading-color);
    font-family: "Electrolize", sans-serif;
    text-shadow: 0 0 5px #ffffff;
    transition: color 0.3s;
}

h1:hover {
    color: var(--secondary-color);
}

h2 {
    font-size: 2.6em;
    margin: 10px 0;
    color: var(--heading-color);
    font-family: "Electrolize", sans-serif;
}

.hh {
    color: #B7B597;
    font-size: 1.5em;
    font-family: "Electrolize", sans-serif;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar li a {
    text-decoration: none;
    color: var(--heading-color);
    transition: color 0.3s ease, transform 0.2s;
    font-size: 2em;
    font-family: "Electrolize", sans-serif;
}

#navbar li a:hover {
    color: var(--secondary-color);
    transform: scale(1.1);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: #000000;
    box-shadow: 0 5px 15px #3498db;
    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    transition: background 0.3s;
}

section:hover {
    background: rgba(255, 255, 255, 0.2);
}

.team img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.magazine-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.magazine-cover img {
    width: 250px;
    height: auto;
    object-fit: cover;
}
.magazine-issues {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(3, 1fr); /* 3 rows */
    gap: 20px; /* Space between grid items */
}

.magazine-issues a {
    text-decoration: none;
}

.magazine-issues button {
    background: white;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 4px var(--shadow-color);
    padding: 10px 20px;
    font-family: "Electrolize", sans-serif;
}

.magazine-issues button:hover {
    background: #555;
    color: white;
    transform: translateY(-4px);
    box-shadow: 0px 5px 10px var(--shadow-color);
    animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.dropbtn {
    background-color: var(--primary-color);
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 15px 50px;
    margin-left: 2.5vh;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px var(--shadow-color);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    font-family: "Electrolize", sans-serif; /* Added */
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #13374f;
}

.tech-talks {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 188, 188);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--shadow-color);
}

.tech-talks img {
    width: 450px;
    height: auto;
}

.tech-talks h3 {
    font-size: 60px;
    margin: 0 20px;
    font-weight: bolder;
    font-family: "Electrolize", sans-serif;
}

.listen-icons a {
    color: black;
    margin: 0 10px;
    font-size: 30px;
    transition: transform 0.3s;
}

.listen-icons a:hover {
    transform: scale(1.2);
}

.season-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-color);
}

.carousel img {
    width: 100%;
    display: none;
}

.carousel img.active {
    display: block;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls div {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.carousel-controls div:hover {
    background: rgba(0, 0, 0, 0.7);
}

.carousel-index {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.post-title {
    margin-top: 10px;
    font-weight: bold;
    color: #B7B597;
    font-family: "Electrolize", sans-serif; /* Added */
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 900px;
    margin: 20px 0;
}
#carouselsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px; 
  }
  
  .carousel-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    height: 200px;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }
  
  .carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .carousel-index {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px; 
  }
@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    .magazine-grid {
        grid-template-columns: 1fr;
    }

    .season-buttons {
        flex-direction: column;
    }

    .tech-talks {
        flex-direction: column;
    }

    .tech-talks img {
        width: 100%;
    }

    .social-icons {
        flex-wrap: wrap;
    }
}

.container {
    max-width: 100%;
    overflow: hidden;
}

.responsive-image {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
